@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');*
{margin: 0;padding: 0;font-family: 'Poppins', sans-serif}

body
{
    /* background-image: url('assets/img/bg2.png'); */
    background-color: #C7F2A4;
}


.bc .container{margin-top: 80px;margin-bottom: 80px;position: relative;z-index: 100}

.bc .container .row .card
{
margin: 10px;
width: 100%;height: 300px;
background: rgba(255, 255, 255, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.6px);
-webkit-backdrop-filter: blur(3.6px);
border: 1px solid rgba(255, 255, 255, 0.36);
}

.bc .container .row .card .card-body
{padding: 1rem 1.2rem;color: #425F57
}

.bc .container .row .card .card-body .card-img img
{width: 60px;height: 60px;object-fit: cover;transform: translateY(50px);transition: 0.5s;border-radius: 50%}

.bc .container .row .card .card-body .name
{transform: translateY(50px);transition: 0.5s}

.bc .container .row .card .card-body .testimonial
{font-size: 0.9rem;pointer-events: none;transform: translateY(10px);transition: 0.5s;opacity: 0}

.bc .container .row .card:hover .card-body .testimonial, .container .row .card:hover .card-body .name, .container .row .card:hover .card-body .card-img img
{transform: translateY(0px);opacity: 1;
}




