*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
.reg_container{
    margin-bottom: 50px;
    margin-right: 50px;
}
.input_field{
    margin-top: 30px;
}
.role{
    margin-top: 70px;
    margin-bottom: 40px;
}
.form-group{
    margin-top: 20px;
}